{% extends "base.html" %}

{% block content %}
<h2>Edit Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">

    <input name="exercise" placeholder="Exercise" value="{{entry['exercise'] }}"><br>
    <input name="weight" placeholder="Weight" value="{{entry['weight'] }}"><br>
    <input name="reps" placeholder="Reps" value="{{entry['reps'] }}"><br>
    <input name="date" placeholder="Date" value="{{entry['date'] }}"><br>
    <button type="submit">Update Entry</button>

</form>

<a href="{{ url_for('dashboard')}}">Back to Dashboard</a>

{% endblock %}